* {
	margin-top:o;
	padding:0;
	box-sizing:border-box;

}
.section {
	background-color:#e4eef5;
	margin-top:2px;

	
}
.container {
	
	width:100%;
	margin:auto;
}
.row {
	display:flex;
	justify-content:space-evenly;
}
.box {
	margin:5%;
	box-shadow:3px 3px 9px 9px #b5d5eb;
	background-color:#ffffff;
	width:15%;
	text-align:center;
	
}
h1 {
	font-size:45px;
}


